.container3 {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 7rem;
    color: black;
    background-color: white;
    z-index: 1000;
}

.mainblock1,
.mainblock2 {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    animation: fadeInUp 1s ease-in-out;
}

.block3,
.block4,
.block5,
.block6,
.block7 {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.block3:hover,
.block5:hover,
.block6:hover,
.block7:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.block3 img,
.block5 img,
.block6 img,
.block7 img {
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

.block3 p,
.block4 p,
.block5 p,
.block6 p,
.block7 p {
    font-size: 14px;
    color: gray;
    margin: 1rem 0;
}

.block3 h2,
.block4 h2,
.block5 h2,
.block6 h2,
.block7 h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.block4 h1 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.block4 h2 {
    color: seagreen;
}

.block4 p {
    font-size: 16px;
}

.services {
    text-align: center;
    z-index: 1000;
    background-color: white;
    position: relative;
    top: 2rem;
    width: 95%;
    width: 100%;
    height: auto;
    transition: all 0.5s ease;
}

.services h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: fadeInDown 1s ease;
}

.services p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    line-height: 1.6;
    animation: fadeIn 1s ease;
}

.service-list {
    display: flex;
    flex-direction: column;
}

.service-item {
    background-color: #f4f4f4;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    opacity: 0;
    animation: slideIn 0.5s ease forwards;
    animation-delay: 0.2s;
}

.service-item h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
    animation: fadeIn 0.5s ease;
}

.service-item p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    animation: fadeInUp 0.5s ease;
}

.about {
    min-height: 86vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 7rem;
    z-index: 1000;
}

.blocka1 {
    max-width: 40rem;
    padding: 1rem;
    position: relative;
    animation: slideInLeft 1s ease-in-out;
}

.blocka1 h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.blocka1 h2 {
    font-size: 2rem;
    font-weight: bold;
    color: gray;
    margin-top: 1.5rem;
}

.blocka1 p {
    font-size: 1.2rem;
    margin-top: 1rem;
    line-height: 1.6;
}

.submita {
    width: 10rem;
    height: 3rem;
    border: none;
    padding: 10px;
    color: white;
    background-color: #4CAF50;
    border-radius: 40px;
    cursor: pointer;
    margin-top: 2.5rem;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.submita:hover {
    background-color: #A0D683;
    color: #000;
    box-shadow: 0 0 5px rgba(2, 72, 16, 0.5);
}

.blocka2 {
    max-width: 48rem;
    margin-top: 2rem;
    animation: slideInRight 1s ease-in-out;
}

.blocka2 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(50px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width: 1024px) {
    .block3 {
        width: 80vw;
    }

    .block4 {
        width: 70vw;
        margin-top: 2rem;
    }

    .block5,
    .block6,
    .block7 {
        width: 70vw;
        margin-top: 2rem;
    }

    .about {
        flex-direction: column;
        gap: 2rem;
    }

    .blocka1,
    .blocka2 {
        max-width: 90%;
        text-align: center;
    }

    .blocka1 h3 {
        font-size: 2rem;
    }

    .blocka1 h2 {
        font-size: 1.6rem;
    }

    .blocka1 p {
        font-size: 1.1rem;
    }

    .blocka2 {
        max-width: 90%;
    }
}

@media (max-width: 768px) {
    .services h1 {
        font-size: 2rem;
    }

    .services p {
        font-size: 1rem;
    }

    .service-item h2 {
        font-size: 1.5rem;
    }

    .service-item p {
        font-size: 0.9rem;
    }

    .services {
        width: 100%;
    }

    .block3,
    .block4,
    .block5,
    .block6,
    .block7 {
        width: 90vw;
    }

    .block4 h2 {
        font-size: 16px;
    }

    .block4 p {
        font-size: 14px;
    }

    .block3 h2 {
        font-size: 20px;
    }

    .block3 p {
        font-size: 16px;
    }

    .mainblock2 {
        flex-direction: column;
    }

    .about {
        flex-direction: column;
    }

    .blocka1,
    .blocka2 {
        width: 100%;
        max-width: 90%;
    }

    .blocka1 h3 {
        font-size: 2rem;
    }

    .blocka1 h2 {
        font-size: 1.5rem;
    }

    .blocka1 p {
        font-size: 1.1rem;
    }

    .submita {
        width: 100%;
        max-width: 12rem;
    }
}

@media (max-width: 480px) {

    .block3,
    .block4,
    .block5,
    .block6,
    .block7 {
        width: 100%;
    }

    .block3 h2,
    .block4 h1 {
        font-size: 18px;
    }

    .block3 p,
    .block4 p {
        font-size: 14px;
    }

    .block5 h2,
    .block6 h2,
    .block7 h2 {
        font-size: 14px;
    }

    .services h1 {
        font-size: 1.8rem;
    }

    .services p {
        font-size: 0.9rem;
    }

    .service-item h2 {
        font-size: 1.3rem;
    }

    .service-item p {
        font-size: 0.8rem;
    }

    .blocka1 h3 {
        font-size: 1.8rem;
    }

    .blocka1 h2 {
        font-size: 1.3rem;
    }

    .blocka1 p {
        font-size: 1rem;
    }

    .submita {
        width: 8rem;
        height: 2.5rem;
    }

    .blocka2 {
        width: 100%;
    }
}